@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

.panels{
    -fx-background-color: #EAECEA;
}

.plainText{
   -fx-font-family: 'Montserrat';
   -fx-font-size: 25px;

}
.popupPanel{
    -fx-background-radius: 30 30 30 30;
    -fx-border-radius: 30 30 30 30;
    -fx-background-color: #FFFFFF;
}

.orderListItem{
    -fx-background-color: #F3FBF4;
    -fx-border-color: #909090 ;
    -fx-border-width: 2 ;
    -fx-border-radius: 05 05 05 05;
    -fx-font-family: 'Montserrat'
}


.searchfield{
    -fx-background-radius: 30 30 30 30;
    -fx-border-radius: 30 30 30 30;
    -fx-font-size: 15px;
}

.inputField{
    -fx-background-radius: 30 30 30 30;
    -fx-border-radius: 30 30 30 30;
    -fx-font-size: 18px;
}

.labelSmall{
   -fx-font-family: 'Montserrat';
   -fx-font-size: 16px;
}

.labelMedium{
   -fx-font-family: 'Montserrat';
   -fx-font-size: 22px;
}

.labelLarge{
   -fx-font-family: 'Montserrat';
   -fx-font-size: 30px;
}

.labelExtraLarge{
   -fx-font-family: 'Montserrat';
   -fx-font-size: 50px;
}



.cartItem{
    -fx-background-color: #E9E8E8;
    -fx-border-color: #909090 ;
    -fx-border-width: 2 ;
    -fx-border-radius: 05 05 05 05;
   -fx-font-family: 'Montserrat';

}

.searchButton{
    -fx-background-color: #94DAC7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
   -fx-font-family: 'Montserrat';

}

.categoryImage {
    -fx-background-radius: 30px;
    -fx-border-radius: 30 30 30 30;
}

.buttonsLarge {
    -fx-background-radius: 45 45 45 45;
    -fx-border-radius: 45 45 45 45;
    -fx-background-color: #94DAC7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
   -fx-font-family: 'Montserrat';
    -fx-font-size: 40px;
}

.buttonsMedium {
    -fx-background-radius: 30 30 30 30;
    -fx-border-radius: 30 30 30 30;
    -fx-background-color: #94DAC7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
   -fx-font-family: 'Montserrat';
    -fx-font-size: 30px;
}

.buttonsSmall {
    -fx-background-radius: 30 30 30 30;
    -fx-border-radius: 30 30 30 30;
    -fx-background-color: #94DAC7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
   -fx-font-family: 'Montserrat';
}

.mainframe {
     -fx-background-color: #FFFFFF;
}

.roundedImg {
  border-radius: 50%;
}

.roundedPane {
    -fx-background-radius: 30 30 30 30;
    -fx-border-radius: 30 30 30 30;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.transparentTextBorder{
    -fx-border: none;
    -fx-background-color: transparent;
    -fx-resize: none;
    -fx-outline: none;
}

.errorMessages{
    -fx-background-color: white;
    -fx-border-width: 2 ;
    -fx-border-color: red;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-font-size: 24px;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}