.large-logo-text{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 149px;
    letter-spacing: 0.1em;
}

.small-logo-text{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.1em;
}

.welcome-text{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 99px;
    letter-spacing: 0.1em;
}

.create-button-text{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0.1em;
}

.my-sets-folders-button{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0.1em;
}

.choose-teqhnique-text{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 68px;
}

.navigation-button-text{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0.1em;
}

.current-playing-set-text{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
}

.press-to-turn-card-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1em;
}

.card-data-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.1em;
}